*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.my-navbar-color {
    background-color: #788a7c;
}


.nav-link 
{
    color:white!important;
}
.navbar-brand
{
    color:white!important; 
}
.header-img
{
    background-image:url(images/nav-image.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

 #banner_btn_1
{
    border:2px solid white;
    text-align: center;
    outline:none;
    border-radius:0 ;
    color: white;
}

#section1-btn
{
    border:2px solid #6c757d;
    text-align: center;
    outline:none;
    border-radius:0 ;
    color:#6c757d;
    width: max-content;
    height: max-content;
}
.section2-bg-color
{
    background-color: #788a7c;
}
.section2-heading
{
 color:  #6ed198;   
}
.section2-text-color
{
    color:white;
}
.text-color{
    color:#6c757d;
}
.icon-color {
    color:white;
  }
  .formstyle
  {
    border-radius:0!important ;
    outline:none;
    border:2px solid white;
    box-shadow: none;
  }

  #submit_btn{
    margin-left: 50%;
    font-size: smaller;
    background-color: #6ed198;
    border-radius:0!important ;
}
/* .nowrap-text {
    white-space: nowrap;
  } */